body {
  background: #fff;
  font-family: 'Noto Sans', sans-serif;
  animation: fadeIn ease .75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

* {
  animation: fadeIn ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
