:host {
  position: relative;
  isolation: isolate;
  z-index: 2;
}

.toolbar {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #ccc;
  height: 100%;
}

.toolbar button {
  width: 100%;
  aspect-ratio: 1/1;
  appearance: none;
  border: 0;
  background: none;
}

.tools-primary {
  flex:1;
}

.tools-panel {
  display: none;
  background: #fff;
  position: absolute;
  border-left: 2px solid #ccc;
  z-index: 2;
  left: -301px;
  width: 300px;
  height: 100%;
}

.tools-panel.open {
  display: block;
}
