:host {
  position: relative;
  isolation: isolate;
  z-index: 2;
  height: 100%;
  display: block;
}

.studio-tools-main {
  height: 100%;
}

.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-inline-start: 2px solid var(--studio-color-gray-100);
  height: 100%;
  height: 100%;
  background: #fff;
}

.toolbar button {
  width: 90%;
  aspect-ratio: 1/1;
  appearance: none;
  border: 0;
  border-radius: 8px;
  background: none;
  cursor: pointer;
}

.toolbar button:hover {
  background: lightblue;
}

button svg {
  width: clamp(24px, 60%, 32px);
  aspect-ratio: 1/1;
}

.tools-primary {
  flex:1;
  padding-top: .5rem;
}

.tools-secondary {
  padding-bottom: .5rem;
}

.tools-primary,
.tools-secondary {
  width: 80%;
}

.tools-panel {
  display: none;
  background: #fff;
  position: absolute;
  border-left: 2px solid var(--studio-color-gray-100);
  z-index: 2;
  width: 300px;
  height: 100%;
  z-index: -1;
}

.tools-panel.open {
  display: block;
  animation: open .150s ease-in-out forwards;
}

.toolbar button {
  color: var(--studio-color-text-neutral);
}


@keyframes open {
  0% {
    left: 0;
  }
  100% {
    left: -301px;
  }
}

