
* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--studio-font-family);
}

#app {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr auto;
}

.editor {
  display: grid;
  grid-template-columns: 1fr clamp(60px, 5vw, 80px);
  border-top: 2px solid #ccc;
}

.render-outlet {
  background: var(--studio-color-background-subdued);
  overflow-y: scroll;
}
