@media ( prefers-color-scheme:dark ) {
  :root {
    --light: ;
    --dark: initial;
  }
}

@media ( prefers-color-scheme:light ) {
  :root {
    --light: initial;
    --dark: ;
  }
}

:root[data-theme="light"] {
  --light: initial;
  --dark: ;
}

:root[data-theme="dark"] {
  --light: ;
  --dark: initial;
}


:root {

  --light: initial;
  --dark: ;

  /** TYPE **/
  --studio-font-body: 'Noto Sans', sans-serif;
  --studio-font-mono: Source Code Pro, Firacode, Hasklig, Menlo, monospace;

  --studio-font-weight-reg: 400;
  --studio-font-weight-semibold: 500;
  --studio-font-weight-bold: 700;

  /** SPACING **/
  --studio-spacing-3x-small: 0.125rem; /* 2px */
  --studio-spacing-2x-small: 0.25rem; /* 4px */
  --studio-spacing-x-small: 0.5rem; /* 8px */
  --studio-spacing-small: 0.75rem; /* 12px */
  --studio-spacing-medium: 1rem; /* 16px */
  --studio-spacing-large: 1.25rem; /* 20px */
  --studio-spacing-x-large: 1.75rem; /* 28px */
  --studio-spacing-2x-large: 2.25rem; /* 36px */
  --studio-spacing-3x-large: 3rem; /* 48px */
  --studio-spacing-4x-large: 4.5rem; /* 72px */

  /** COLOR **/
  /** PRIMITIVES **/
  --studio-color-slate-700: #334155;
  --studio-color-slate-800: #1e293b;
  --studio-color-slate-900: #0f172a;

  --studio-color-gray-010: #F8F7FC;
  --studio-color-gray-050: #ECEBF2;
  --studio-color-gray-100: #DBDAE0;
  --studio-color-gray-200: #C0BFC7;
  --studio-color-gray-300: #A2A1AB;
  --studio-color-gray-400: #898791;
  --studio-color-gray-500: #716F7A;
  --studio-color-gray-600: #626168;
  --studio-color-gray-700: #524F59;
  --studio-color-gray-800: #44424D;
  --studio-color-gray-900: #34323D;
  --studio-color-gray-950: #1E1D26;

  --studio-color-blue-50: #eff6ff;
  --studio-color-blue-100: #dbeafe;
  --studio-color-blue-200: #bfdbfe;
  --studio-color-blue-300: #93c5fd;
  --studio-color-blue-400: #60a5fa;
  --studio-color-blue-500: #3b82f6;
  --studio-color-blue-600: #2563eb;
  --studio-color-blue-700: #1d4ed8;
  --studio-color-blue-800: #1e40af;
  --studio-color-blue-900: #1e3a8a;
  --studio-color-blue-950: #172554;

  --studio-color-green-700: #15803d;

  /** SEMANTIC **/
  --studio-color-background: var(--light, var(--studio-color-gray-050)) var(--dark, var(--studio-color-gray-950));
  --studio-color-background-subdued: var(--light, var(--studio-color-gray-050)) var(--dark, var(--studio-color-gray-800));

  --studio-color-text-neutral: var(--light, var(--studio-color-gray-950)) var(--dark, var(--studio-color-gray-050));
  --studio-color-text-subdued: var(--light, var(--studio-color-gray-300)) var(--dark, var(--studio-color-gray-200));
  --studio-color-text-interactive: var(--light, var(--studio-color-blue-700)) var(--dark, var(--studio-color-blue-400));

  --studio-color-interactive: var(--light, var(--studio-color-blue-700)) var(--dark, var(--studio-color-blue-400));
  --studio-color-interactive-hover: var(--light, var(--studio-color-blue-200)) var(--dark, var(--studio-color-blue-700));

  /** EDITOR **/
  --studio-color-editor-background: var(--light, #fff) var(--dark, var(--studio-color-gray-950));

  --studio-color-editor-text-neutral: var(--light, var(--studio-color-gray-950)) var(--dark, var(--studio-color-gray-100));
  --studio-color-editor-text-subdued: var(--light, var(--studio-color-gray-500)) var(--dark, var(--studio-color-gray-100));
  --studio-color-editor-text-interactive: var(--light, var(--studio-color-blue-700)) var(--dark, var(--studio-color-blue-400));

  /** SYNTAX HIGHLIGHT VARS **/
  --studio-color-editor-comment: var(--studio-color-editor-text-subdued);
  --studio-color-editor-html-tags: var(--studio-color-blue-500);
  --studio-color-editor-attribute-name: var(--studio-color-blue-800);
  --studio-color-editor-attribute-value: var(--studio-color-green-700);

  --studio-frame-border-radius: 4px;
}
